# dependencies
node_modules

# env files
.env*

# builds
dist
.next

# editor
.godot

# godot exports
apps/website/public/export/*
!apps/website/public/export/.gitkeep

# misc
next-env.d.ts
.DS_Store

# to use, run "git config core.excludesfile .local.gitignore"
.local.gitignore
